<% content_for :title, t(".title") %>

<div class="container mt-5 mt-md-6" >
  <div class="row gx-4 justify-content-center align-items-md-center">
    <div class="col-12 col-md-6 mb-0 me-md-5">
      <%= image_tag( "main/password_reset_edit.png", alt: "パスワードリセット", class: "img-fluid mb-4" ) %>
    </div>
    <div class="col-12 col-md-3">
      <h2 class="mb-4"><%= t(".title") %></h2>

      <%= form_with url: password_reset_path(@token), method: :patch, local: true, html: { class: 'needs-validation' } do |f| %>
        <div class="mb-3">
          <%= f.label :password, t("activerecord.attributes.user.password"), class: 'form-label' %>
          <%= f.password_field :password, name: 'user[password]', class: 'form-control', required: true, placeholder: t("helpers.placeholders.user.password") %>
        </div>

        <div class="mb-3">
          <%= f.label :password_confirmation, t("activerecord.attributes.user.password_confirmation"), class: 'form-label' %>
          <%= f.password_field :password_confirmation, name: 'user[password_confirmation]', class: 'form-control', required: true, placeholder: t("helpers.placeholders.user.password_confirmation") %>
        </div>

        <div class="d-grid mb-3">
          <%= f.submit t("buttons.register"), class: 'btn btn-2 btn-lg' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
