<% content_for :title, t(".title") %>

<div class="container mt-5" >
  <div class="row gx-4 justify-content-center align-items-md-center">
    <div class="col-12 col-md-9 mb-0 me-md-5">
      <div class="mb-3 mb-md-0">
        <%= link_to t("buttons.back"), new_session_path, class: 'btn btn-2', data: { turbo: false } %>
      </div>
    </div>
  </div>
  <div class="row gx-4 justify-content-center align-items-md-center">
    <div class="col-12 col-md-6 mb-0 me-md-5">
      <%= image_tag( "main/user_new.png", alt: "パスワードリセット", class: "img-fluid mb-4" ) %>
    </div>
    <div class="col-12 col-md-3">
      <h2 class="mb-4"><%= t(".title") %></h2>

      <%= render 'shared/error_messages', object: @user %>

      <%= form_with model: @user, local: true, html: { class: 'needs-validation' } do |f| %>
        <div class="mb-3">
          <%= f.label :email, t("activerecord.attributes.user.email"), class: 'form-label' %>
          <%= f.email_field :email, class: 'form-control', required: true, placeholder: t("helpers.placeholders.user.email") %>
        </div>

        <div class="mb-3">
          <%= f.label :password, t("activerecord.attributes.user.password"), class: 'form-label' %>
          <%= f.password_field :password, class: 'form-control', minlength: 6, required: true, placeholder: t("helpers.placeholders.user.password") %>
        </div>

        <div class="mb-3">
          <%= f.label :password_confirmation, t("activerecord.attributes.user.password_confirmation"), class: 'form-label' %>
          <%= f.password_field :password_confirmation, class: 'form-control', required: true, placeholder: t("helpers.placeholders.user.password_confirmation") %>
        </div>

        <div class="mb-3">
          <%= f.label :name, t("activerecord.attributes.user.name"), class: 'form-label' %>
          <%= f.text_field :name, class: 'form-control', maxlength: 6, required: true, placeholder: t("helpers.placeholders.user.name") %>
        </div>

        <div class="mb-3">
          <%= f.label :egg_name, t("activerecord.attributes.user.egg_name"), class: 'form-label' %>
          <%= f.text_field :egg_name, class: 'form-control', maxlength: 6, required: true, placeholder: t("helpers.placeholders.user.egg_name") %>
        </div>

        <div class="row mb-3">
          <div class="col">
            <%= f.label :birth_month, t("activerecord.attributes.user.birth_month"), class: 'form-label' %>
            <%= f.number_field :birth_month, class: 'form-control', in: 1..12, required: true %>
          </div>
          <div class="col">
            <%= f.label :birth_day, t("activerecord.attributes.user.birth_day"), class: 'form-label' %>
            <%= f.number_field :birth_day, class: 'form-control', in: 1..31, required: true %>
          </div>
        </div>

        <div class="d-grid">
          <%= f.submit t("buttons.register"), class: 'btn btn-2 btn-lg', data: { turbo: false } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
