<div class="container mt-3 text-center" data-controller="status">
  <div class="text-start mb-3">
    <%= link_to "またあとでね", logout_path,
        data: { turbo_method: :delete, turbo_confirm: "いったんバイバイする？" },
        class: "btn btn-outline-secondary ms-md-5" %>
    <%= link_to "設定", settings_path,
        class: "btn btn-outline-secondary" %>
    <button type="button"
            class="btn btn-outline-secondary"
            data-action="click->status#open"
            data-bs-toggle="modal"
            data-bs-target="#statusModal">
      ステータス
    </button>
  </div>

  <%= turbo_frame_tag "game_play" do %>

    <div class="row gx-3 align-items-md-center">
      <div class="col-12 col-md-8">
        <div class="position-relative my-2 mx-auto play-image-wrapper">
          <%= image_tag(
                effective_image_path(@base_background_image),
                alt: "ベース背景",
                class: "position-absolute top-0 start-0 img-fluid w-100",
                style: "z-index: -1;"
              ) %>
          <%= image_tag(
                effective_image_path(@cut&.background_image || @event.background_image),
                alt: "背景",
                class: "img-fluid",
                style: "z-index: 0;"
              ) %>
          <%= image_tag(
                effective_image_path(@cut&.character_image || @event.character_image),
                alt: "キャラクター",
                class: "position-absolute top-50 start-50 translate-middle img-fluid",
                style: "width: 80%; z-index: 1;"
              ) %>
        </div>
      </div>

      <div class="col-12 col-md-4 pe-md-6 d-grid gap-1 mt-2 mt-md-4">
        <div class="message-box mb-1 py-4 d-flex align-items-center justify-content-center">
          <% message = MessageBuilder.new(@play_state, @question_text).call %>
          <%= message.html_safe %>
        </div>
        <%= form_with url: (@phase == :select ? select_action_path : advance_cut_path), method: :post, data: { turbo_frame: "game_play" } do |f| %>
          <%= hidden_field_tag :state_timestamp, @play_state.updated_at.iso8601 %>
          <div class="d-grid gap-2 mx-auto mt-2 mt-md-4" style="width: 80%;">
            <% 4.times do |i| %>
              <% pos   = i + 1 %>
              <% label =
                if @phase == :select
                  orig = (@choices.find { |c| c.position == pos }&.label || "").dup
                  if @question_text.present?
                    @options.each_with_index do |opt, idx|
                      placeholder = "〈#{('A'.ord + idx).chr}〉"
                      orig.gsub!(placeholder, opt.to_s)
                    end
                  end

                  orig
                else
                  pos == 1 ? "つぎへ" : ""
                end %>

              <% if (@phase == :select && label.present?) ||
                  (@phase == :cut    && pos == 1) %>
                <%= button_tag label,
                    type:  "submit",
                    name:  "position",
                    value: pos,
                    class: "btn btn-primary btn-large-text btn-lg py-1 px-2" %>
              <% else %>
                <button type="button" class="btn btn-primary btn-large-text btn-lg py-1 px-2" disabled style="opacity: 0.5 !important;">
                  <%= "&nbsp;".html_safe %>
                </button>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="modal fade" id="statusModal" tabindex="-1" aria-hidden="true" data-status-target="modal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">ステータス</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="閉じる"></button>
        </div>
        <div class="modal-body">
          <turbo-frame id="status_frame" data-status-target="frame">
          </turbo-frame>
        </div>
      </div>
    </div>
  </div>
</div>
