<div class="container mt-3 text-center" data-controller="status">
  <div class="text-start mb-3 ms-md-3 ms-lg-4 ms-xl-5">
    <%= link_to "またあとでね", logout_path,
        data: { turbo_method: :delete, turbo_confirm: "いったんバイバイする？" },
        class: "btn btn-2 ms-md-5" %>
    <%= link_to "設定", settings_path,
        class: "btn btn-2" %>
    <button type="button"
            class="btn btn-2"
            data-action="click->status#open"
            data-bs-toggle="modal"
            data-bs-target="#statusModal">
      ステータス
    </button>
  </div>

  <%= turbo_frame_tag "game_play" do %>

    <div class="row gx-3 align-items-md-center">
      <div class="col-12 col-md-8">
        <%= render "play_images" %>
      </div>

      <div class="col-12 col-md-4 pe-md-6 d-grid gap-1 mt-2 mt-md-4">
        <div class="message-box mb-1 py-4 d-flex align-items-center justify-content-center">
          <% message = MessageBuilder.new(@presenter.play_state, @presenter.arithmetic_question_text).call %>
          <%= message.html_safe %>
        </div>
        <%= render "action_buttons" %>
      </div>
    </div>
  <% end %>
  <div class="modal fade" id="statusModal" tabindex="-1" aria-hidden="true" data-status-target="modal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">ステータス</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="閉じる"></button>
        </div>
        <div class="modal-body">
          <turbo-frame id="status_frame" data-status-target="frame">
          </turbo-frame>
        </div>
      </div>
    </div>
  </div>
</div>
