<div class="container mt-3 text-center" data-controller="status">
  <%= render "header_actions" %>

  <%= turbo_frame_tag "game_play" do %>

    <div class="row gx-3 align-items-md-center">
      <div class="col-12 col-md-8">
        <%= render "play_images" %>
      </div>

      <div class="col-12 col-md-4 pe-md-6 d-grid gap-1 mt-2 mt-md-4">
        <div class="message-box mb-1 py-4 d-flex align-items-center justify-content-center">
          <% message = MessageBuilder.new(@presenter.play_state, @presenter.arithmetic_question_text).call %>
          <%= message.html_safe %>
        </div>
        <%= render "action_buttons" %>
      </div>
    </div>
  <% end %>
  <%= render "status_modal" %>
</div>
