<div class="card">
  <div class="card-body">
    <h4 class="card-title">ステータス</h4>
    <ul class="list-unstyled mb-0">
      <li>なまえ: <%= user.egg_name %></li>
      <li>たいりょく: <%= "#{user_status.temp_vitality}/#{user_status.vitality}" %></li>
      <li>うんどう: <%= user_status.sports_value %></li>
      <li>さんすう: <%= user_status.arithmetic %></li>
      <li>こくご:   <%= user_status.japanese %></li>
      <li>りか:     <%= user_status.science %></li>
      <li>しゃかい: <%= user_status.social_studies %></li>
    </ul>
  </div>
</div>
