<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags(page_meta_tags) %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if Rails.env.production? %>
      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-6DR2F4C0P4"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-6DR2F4C0P4');
      </script>
    <% end %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <%= favicon_link_tag 'favicon/favicon.png', type: 'image/png' %>
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>

    <style nonce="<%= content_security_policy_nonce %>">
    @font-face {
      font-family: "Yomogi";
      src: url("<%= asset_path 'Yomogi-Regular.ttf' %>") format("truetype");
      font-weight: 400;
      font-style: normal;
      font-display: swap;
    }
    </style>

  </head>

  <% login_page = (controller_name == 'sessions' && action_name == 'new') %>

  <body class="<%= login_page ? 'fade-in' : '' %>">
    <% unless controller_name.in?(%w[games public_pages settings line_notifications accounts status]) %>
      <%= render 'shared/flash_message' %>
    <% end %>
    <main>
      <%= yield %>
    </main>

    <footer>
      <%= render 'shared/footer' %>
    </footer>

    <script>
      function fadeInIfNeeded() {
        if (!document.body.classList.contains('fade-in')) return;
        requestAnimationFrame(() => {
          document.body.classList.add('show');
        });
      }
      document.addEventListener('DOMContentLoaded', fadeInIfNeeded);
      document.addEventListener('turbo:load',    fadeInIfNeeded);
    </script>
  </body>
</html>
