<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags(page_meta_tags) %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <%= favicon_link_tag 'favicon/favicon.png', type: 'image/png' %>
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>

  </head>

  <% login_page = (controller_name == 'sessions' && action_name == 'new') %>

  <body class="<%= login_page ? 'fade-in' : '' %>">
    <% unless controller_name.in?(%w[games privacy_policies term settings line_notification_settings status delete_account]) %>
      <%= render 'shared/flash_message' %>
    <% end %>
    <%= yield %>

    <script>
      function fadeInIfNeeded() {
        if (!document.body.classList.contains('fade-in')) return;
        requestAnimationFrame(() => {
          document.body.classList.add('show');
        });
      }
      document.addEventListener('DOMContentLoaded', fadeInIfNeeded);
      document.addEventListener('turbo:load',    fadeInIfNeeded);
    </script>
  </body>

  <%= render 'shared/footer' %>
</html>
